<VirtualHost *:{{ _apache_server_port}}>
   ServerAdmin {{ _apache_server_admin}}
   ServerName {{ _apache_server_name}}
   ServerAlias { _apache_server_name}}
   DocumentRoot /var/www/{{_apache_server_name}}/public_html
   ErrorLog ${APACHE_LOG_DIR}/{{ _apache_server_name }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ _apache_server_name }}_access.log combined
   <Directory /var/www/{{ _apache_server_name}}/public_html>
         Options -Indexes
   </Directory>
   <Ifmodule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm
   </Ifmodule>
</VirtualHost>